    <div class="container main">
    {{#if error}}
    <ul>
        {{#each error.id as |error|}}
        <li class="error">{{error}}</li>
        {{/each}}
    </ul>
    {{/if}}
    {{#unless error}}
        <div class="row event-row">
            <div class="col-xs-12 event-details">
                <div class="row">
                    <div class="col-sm-9 event-description">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>{{model.name}}</h3>
                                <h5>Created By: {{creator.first_name}} {{creator.last_name}}</h5>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <h4>Date</h4>
                                <p>{{ date }}</p>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <h4>Time</h4>
                                <p>{{ time }}</p>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <h4>Address</h4>
                                <p>{{ model.address }}</p>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <h4>City</h4>
                                <p>{{ model.city }}</p>
                            </div>
          					<div class="col-sm-3 col-xs-6">
                                <h4>State</h4>
                                <p>{{ model.state }}</p>
                            </div>
                           <div class="col-sm-3 col-xs-6">
                                <h4>Zip</h4>
                                <p>{{ model.zip }}</p>
                            </div>
                        </div>
                    </div><!-- /.event-description -->
                </div>
                <div class="col-xs-10">
                    <ul class="nav nav-tabs">
    				  <li class="{{if description 'active'}}"><a {{action 'setDescription'}}>Description</a></li>
    				  <li class="{{unless description 'active'}}"><a {{action 'setCurrent' }}>Current Players</a></li>
    				</ul>
    				{{#if description}}
        				<div class="col-sm-9 event-description">
            				{{#if model.description}}
            					{{model.description}}
            				{{/if}}
            				{{unless model.description 'No Description provided.'}}
        				</div>
    				{{/if}}
    				{{#unless description}}
    				    <div class="col-sm-9 event-description">
        				{{#if model.users}}
        					<table class="table">
        					  <thead>
        					    <tr>
        					      <th>First Name</th>
        					      <th>Last Name</th>
        					      <th>NTRP</th>
        					    </tr>
        					  </thead>
        					  <tbody>

        					{{#each model.users as |player|}}
        					    <tr>
        					      <td>{{player.first_name}}</td>
        					      <td>{{player.last_name}}</td>
        					      <td>{{player.rating}}</td>
        					    </tr>
        					 {{/each}}
        					  </tbody>
        					</table>
        				{{/if}}
    				    {{unless model.users 'No participants at this time'}}
    				    </div>
    				{{/unless}}
                </div><!-- /.event-details -->
                {{#if loggedIn}}
                {{#if notOver}}
                    {{#unless isUser}}
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-primary" disabled={{isJoined}} {{action 'joinEvent'}}>{{if isJoined 'Joined'}} {{unless isJoined 'Join Event'}}</button>
                        </div>
                    {{/unless}}
                {{/if}}
                {{/if}}
            </div>
        </div><!-- /.event-row -->
        {{/unless}}
    </div><!-- /.container, .main -->
