<div class="container">
{{#if error}}
		<ul>
		{{#each error as |error|}}
			<li class="error"> {{error.message}}</li>
		{{/each}}
		{{#each error.first_name as |error|}}
			<li class="error"> {{error}}</li>
		{{/each}}
		{{#each error.last_name as |error|}}
			<li class="error">{{error}}</li>
		{{/each}}
		{{#each error.email as |error|}}
			<li class="error">{{error}}</li>
		{{/each}}
		{{#each error.rating as |error|}}
			<li class="error">{{error}}</li>
		{{/each}}
		</ul>
	{{/if}}
	<div class="col-lg-8 well">
		<h1>Registration Form</h1>
		<hr>
		<div class="row">
			<form>
				<div class="col-sm-12">
					<div class="row">
					    <div class="col-sm-6 form-group">
					        <label>First Name</label>
					          {{input type="text" value=first_name class="form-control" placeholder="Enter your first name"}}
					    </div>
					</div>
					<div class="row">
					    <div class="col-sm-6 form-group">
					        <label>Last Name</label>
					          {{input type="text" value=last_name class="form-control" placeholder="Enter your last name"}}
				        </div>
				    </div>
				    <div class="row">
				    	<div class="col-sm-6 form-group has-feedback {{if notEmailEmpty (if emailValid 'has-success')}} {{if notEmailEmpty (if emailInvalid 'has-error')}}">
				        	<label>Email</label>
				          	{{input type="text" value=email class="form-control" placeholder="Enter your email"}}
				          	{{#if notEmailEmpty}}
				          		{{#if emailValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
				          		{{#if emailInvalid}}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{{/if}}
				          	{{/if}}
				        </div>
				    </div>
				    <div class="row">
					    <div class="col-sm-6 form-group">
					        <label>Password</label>
					          {{input type="password" value=password class="form-control" placeholder="Enter your password"}}
				        </div>
				    </div>
				    <div class="row">
				    	<div class="col-sm-6 form-group has-feedback {{if notEmpty (if passwordValid 'has-success')}} {{if notEmpty (if passwordInvalid 'has-error')}}">
				        	<label>Confirm Password</label>
				          	{{input type="password" value=confirm class="form-control" placeholder="Confirm Password"}}
				          	{{#if notEmpty}}
				          		{{#if passwordValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
				          		{{#if passwordInvalid}}<span class="glyphicon glyphicon-remove form-control-feedback"></span>{{/if}}
				          	{{/if}}
				        </div>
				    </div>
				    <div class="row">
					    <div class="col-sm-6 form-group">
					        <label>NTRP Rating</label>
					          {{input type="text" value=rating class="form-control" placeholder="Enter your NTRP Rating (1.0, 2.0, 3.5 ...)"}}
				        </div>
				    </div>
				    <input type="submit" value="Submit" hidden="hidden" {{action 'registerUser' }}>
		            <button type="submit" class="btn btn-default" {{action 'registerUser' }} disabled="{{unless isValid 'disabled'}}">Submit</button>
			    </div>
			</form>
		    <p class="text-center">Already have an account? {{#link-to 'login'}}Log in{{/link-to}}</p>
		</div>
	</div>
</div>